.font__poppins {
  font-family: 'Poppins', sans-serif; }

.font__oswald {
  font-family: 'Oswald', sans-serif; }

.font__raleway {
  font-family: 'Raleway', sans-serif; }

.font__montserrat {
  font-family: 'Montserrat', sans-serif; }

.font__lato {
  font-family: 'Lato', sans-serif; }

.brand__name {
  font-size: 1.4rem;
  color: #23232c;
  text-transform: uppercase;
  letter-spacing: .08rem; }

.brand__logo {
  width: 2rem;
  height: 2rem; }

.carousel__title {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 3rem;
  color: #fff; }

.carousel__sub-title {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: #fff; }

.carousel__btn {
  padding: .5rem 2.5rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: .8rem; }

.paginate__item {
  width: 2rem;
  height: 2rem;
  border: 1px solid #e5e5e5;
  line-height: 2rem;
  color: #23232c;
  background-color: #fff; }

.paginate__item--active {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  color: #fff;
  background-color: #c39a4a; }

.primary-menu-item {
  text-transform: uppercase;
  color: #23232c;
  font-weight: 600;
  font-size: .7rem;
  letter-spacing: .08rem; }

.primary-menu-item:hover {
  cursor: pointer;
  color: #e7b2ae; }

.product__name {
  font-size: .8rem;
  letter-spacing: .05rem; }

.product__price {
  font-size: .7rem;
  color: #e7b2ae;
  letter-spacing: .02rem; }

.category__header {
  letter-spacing: .09rem; }

.category__item {
  color: #666;
  font-size: .8rem;
  border-bottom: 1px dotted #e5e5e5; }

.category__item:hover {
  cursor: pointer;
  color: #ba68c8; }

.category__item--active {
  font-size: .8rem;
  border-bottom: 1px dotted #e5e5e5;
  color: #e7b2ae; }

.divider {
  width: 2rem;
  border-bottom: 4px solid #e7b2ae; }

.feature__title {
  letter-spacing: .06rem;
  font-size: 1.2rem; }

.feature__box {
  padding: 0 1rem; }

.title {
  color: #c39a4a;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: .2rem; }

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  background-color: #000001;
  border: 2px solid #555555; }
