.font {
    &__poppins {
        font-family: 'Poppins', sans-serif;
    }

    &__oswald {
        font-family: 'Oswald', sans-serif;
    }

    &__raleway {
        font-family: 'Raleway', sans-serif;
    }

    &__montserrat {
        font-family: 'Montserrat', sans-serif;
    }

    &__lato {
        font-family: 'Lato', sans-serif;
    }
}

.brand {
    &__name{
        font-size: 1.4rem;
        color: #23232c;
        text-transform: uppercase;
        letter-spacing: .08rem;
    }
    &__logo{
        width: 2rem;
        height: 2rem;
    }
}

.carousel {
    &__title {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-size: 3rem;
        color: #fff;
    }

    &__sub-title {
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        color: #fff;
    }
}

.carousel__btn {
    padding: .5rem 2.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    font-size: .8rem;
}

.paginate {
    &__item {
        width: 2rem;
        height: 2rem;
        border: 1px solid #e5e5e5;
        line-height: 2rem;
        color: #23232c;
        background-color: #fff;
    }

    &__item--active {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        color: #fff;
        background-color: #c39a4a;
    }
}

.primary-menu-item {
    text-transform: uppercase;
    color: #23232c;
    font-weight: 600;
    font-size: .7rem;
    letter-spacing: .08rem;
}

.primary-menu-item:hover {
    cursor: pointer;
    color: #e7b2ae;
}

.product {
    &__name {
        font-size: .8rem;
        letter-spacing: .05rem;
    }

    &__price {
        font-size: .7rem;
        color: #e7b2ae;
        letter-spacing: .02rem;
    }
}

.category {
    &__header {
        letter-spacing: .09rem;
    }

    &__item {
        color: #666;
        font-size: .8rem;
        border-bottom: 1px dotted #e5e5e5
    }

    &__item:hover {
        cursor: pointer;
        color: #ba68c8;
    }

    &__item--active {
        font-size: .8rem;
        border-bottom: 1px dotted #e5e5e5;
        color: #e7b2ae;
    }
}

.divider {
    width: 2rem;
    border-bottom: 4px solid #e7b2ae;
}

.feature {
    &__title {
        letter-spacing: .06rem;
        font-size: 1.2rem;
    }

    &__box {
        padding: 0 1rem;
    }
}

.title {
    color: #c39a4a;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: .2rem
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #000001;
    border: 2px solid #555555;
}